@import "root.scss";

body {
  .info {
    .post-details {
      text-align: left;
      margin-top: 40px;
      border-top: 1px solid #e4eaed;
      padding-top: 20px;

      .a-avatar {
        display: inline-block;
        text-align: left;
        padding-right: 5px;
        img {
          width: 100%;
          height: auto;
          max-width: 40px;
          border-radius: 50%;
        }
      }
      .det {
        display: inline-block;
        vertical-align: super;
        font-family: $body-font-family;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 1.7;
        .a-name {
          a {
            color: $link-hover-color;
            text-transform: uppercase;
            line-height: 1.5;
            font-size: 13px;
            font-weight: 600;
          }
          &:hover {
            text-decoration: underline;
          }
        }
        .pub-date {
          color: $font-gray-color;
        }
      }
    }
  }
  #list-details {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
    .active {
      background-color: blue;
      color: red;
      transition: 0.5s ease-out;
    }
    .scrollspy-example {
      position: relative;
    }
  }
  .home-body {
    position: relative;
    padding: 40px 5vw !important;

    .main-content {
      margin: 0 auto;
      max-width: 1040px;
      width: 100%;
    }
    #post-content {
      display: flex;
      align-items: flex-start;
      padding: 0 170px 6vw;

      ul li {
        list-style: none;
      }

      .toc {
        order: 1;
        position: sticky;
        top: 120px;
        min-width: 260px;
        padding: 0 2.4rem;
        margin-left: 0.2rem;
        font-size: 16px;
      }
      .post-content {
        flex-grow: 6;
        min-width: 100%;
      }
    }
  }
}
