$primary-color: #3a4145;
$secondary-color: #2e2e2e;

$font-gray-color: #aaa;

$link-color: #0096cc;
$link-hover-color: #007199;
$btn-hover-bg-color: #0074d9;

$nav-font-family: "Montserrat", sans-serif;
$body-font-family: "Open Sans", sans-serif;
$content-font-family: "Merriweather", sans-serif;
